<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-autowire="no" default-lazy-init="false">



	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		depends-on="sysParamManager">
		<property name="triggers">
			<list>
				
			</list>
		</property>
		<property name="quartzProperties">
			<bean
				class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location" value="classpath:quartz.properties" />
			</bean>
		</property>
		<property name="waitForJobsToCompleteOnShutdown" value="false" />

	</bean>

</beans>
